@using BlogManager.Models
@model EntriesViewModel
@{
    ViewBag.Title = "Entries";
}

<br />
<h2>@ViewBag.Title.</h2>
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="col-md-5 text-center">Title</th>
            <th class="col-md-2 text-center">Author</th>
            <th class="col-md-1 text-center">Category</th>
            <th class="col-md-1 text-center">Visible</th>
            <th class="col-md-1 text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model.Entries)
        {
            <tr>
                <td>@entry.Title</td>
                <td class="text-center">@entry.Account.UserName</td>
                <td class="text-center">@entry.EntryCategory.Name</td>
                <td class="text-center">
                    <div class="btn-group">
                        @if (entry.IsVisible)
                        {
                            <a href="#" class="btn btn-xs btn-success glyphicon glyphicon-ok disabled"></a>
                            <a href="#" class="btn btn-xs btn-danger glyphicon glyphicon-remove"></a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-xs btn-success glyphicon glyphicon-ok"></a>
                            <a href="#" class="btn btn-xs btn-danger glyphicon glyphicon-remove disabled"></a>
                        }
                    </div>
                    @Html.CheckBoxFor(e => entry.IsVisible, new { @checked = "checked" })
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        <a href="#" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Actions
                            <span>&nbsp;&nbsp;</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Preview</a></li>
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                            <li class="divider"></li>
                            <li><a id="dropdown-item-danger" href="#">Hide</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

