@using BlogManager.Models
@model EntryCategoryViewModel
@{
    ViewBag.Title = "New Entry Category";
}

<br />
<h2>@ViewBag.Title.</h2>
<br />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <section>
            @using (Html.BeginForm("Save", "EntryCategories", FormMethod.Post))
            {
                <h4 class="text-center">Add new category</h4>
                <hr />
                <div class="form-group row">
                    @Html.LabelFor(m => m.EntryCategory.Name, new { @class = "col-md-12 control-label entry-form-label" })
                    <div>
                        @Html.TextBoxFor(m => m.EntryCategory.Name, new { @class = "form-control center-block entry-form-control" })
                        @Html.ValidationMessageFor(m => m.EntryCategory.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.EntryCategory.Description, new { @class = "col-md-12 control-label entry-form-label" })
                    <div>
                        @Html.TextBoxFor(m => m.EntryCategory.Description, new { @class = "form-control center-block entry-form-control" })
                        @Html.ValidationMessageFor(m => m.EntryCategory.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group row">
                    @Html.LabelFor(m => m.EntryCategory.IsActive, new { @class = "col-md-6 col-sm-6 col-xs-6 control-label text-right" })
                    <span class="col-md-6 col-sm-6 col-xs-6">
                        <label class="switch">
                            @Html.CheckBoxFor(m => m.EntryCategory.IsActive)
                            <div class="slider round"></div>
                        </label>
                    </span>
                </div>
                <hr />
                <div class="form-group">
                    <div class="text-center">
                        <input type="reset" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("Index", "EntryCategories")'" />
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}