@model BlogManager.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<br />
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <section id="registrationForm">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="text-center">Create a new account.</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.Account.Email, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Account.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Account.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Account.Nickname, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Account.Nickname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Account.Nickname, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Account.FirstName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Account.FirstName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Account.LastName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Account.LastName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group row text-center">
                    @Html.LabelFor(m => m.PasswordRecoveryQuestions, new { @class = "entry-form-label" })
                    <div>
                        @Html.DropDownListFor(m => m.Account.PasswordRecoveryQuestion.Id, new SelectList(Model.PasswordRecoveryQuestions, "Id", "Question"), "Select...", new { @class = "form-control center-block entry-dropdown" })
                        @Html.ValidationMessageFor(m => m.Account.PasswordRecoveryQuestion.Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Account.PasswordRecoveryAnswer, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Account.PasswordRecoveryAnswer, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Account.PasswordRecoveryAnswer, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
