@using BlogManager.Models
@model ContentSubcategoryViewModel

@using (Html.BeginForm("SaveSubcategory", "ContentCategories", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.LabelFor(p => p.ContentSubcategory.Name, new { @class = "control-label entry-form-label" })
    <div>
        @Html.TextBoxFor(p => p.ContentSubcategory.Name, new { @class = "form-control center-block entry-form-control" })
        @Html.ValidationMessageFor(p => p.ContentSubcategory.Name, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(p => p.ContentSubcategory.Description, new { @class = "control-label center-block entry-form-label" })
    <div>
        @Html.TextAreaFor(p => p.ContentSubcategory.Description, new { @class = "form-control center-block entry-form-control pic-desc-text-area" })
        @Html.ValidationMessageFor(p => p.ContentSubcategory.Description, "", new { @class = "text-danger" })
    </div>
    @Html.HiddenFor(p => p.ContentCategoryId)
    @Html.HiddenFor(p => p.ContentSubcategory.Id)
    <div class="modal-footer" style="margin-top: 20px;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save changes</button>
    </div>
}