@using BlogManager.Models
@model PictureViewModel

@using (Html.BeginForm("PictureSaveChanges", "Galleries", FormMethod.Post, new { id = "form-pictureedit-appt" }))
{
    @Html.ValidationSummary(true)
    <img style='width: 100%;' id='modal-picture' src="@Model.Picture.Url" />
    @Html.LabelFor(p => p.Picture.Author, new { @class = "control-label entry-form-label" })
    <div>
        @Html.TextBoxFor(p => p.Picture.Author, new { @class = "form-control center-block entry-form-control" })
        @Html.ValidationMessageFor(p => p.Picture.Author, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(p => p.Picture.Descripton, new { @class = "control-label center-block entry-form-label" })
    <div>
        @Html.TextAreaFor(p => p.Picture.Descripton, new { @class = "form-control center-block entry-form-control pic-desc-text-area" })
        @Html.ValidationMessageFor(p => p.Picture.Descripton, "", new { @class = "text-danger" })
    </div>
    @Html.HiddenFor(p => p.Picture.GalleryId)
    @Html.HiddenFor(p => p.Picture.Id)
    <div class="modal-footer" style="margin-top: 20px;">
        <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger modal-close" data-dismiss="modal" onclick="location.href='@Url.Action("DeletePicture", "Galleries", new {id = Model.Picture.Id})'">Delete</button>
        <button type="submit" class="btn btn-success">Save changes</button>
    </div>
}