@using BlogManager.Models
@model PictureViewModel

@using (Html.BeginForm("DeletePicture", "Galleries", new { id = Model.Picture.Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input id="pic-del-btn" type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure?')" />
}

@using (Html.BeginForm("PictureSaveChanges", "Galleries", FormMethod.Post, new { id = "form-pictureedit-appt" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <img id='modal-picture' src="@Model.Picture.Url" />
    @Html.LabelFor(p => p.Picture.Author, new { @class = "control-label entry-form-label" })
    <div>
        @Html.TextBoxFor(p => p.Picture.Author, new { @class = "form-control center-block entry-form-control" })
        @Html.ValidationMessageFor(p => p.Picture.Author, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(p => p.Picture.Descripton, new { @class = "control-label center-block entry-form-label" })
    <div>
        @Html.TextAreaFor(p => p.Picture.Descripton, new { @class = "form-control center-block entry-form-control pic-desc-text-area" })
        @Html.ValidationMessageFor(p => p.Picture.Descripton, "", new { @class = "text-danger" })
    </div>
    @Html.HiddenFor(p => p.Picture.GalleryId)
    @Html.HiddenFor(p => p.Picture.Id)
    <div class="modal-footer" style="margin-top: 20px;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save changes</button>
    </div>
}