@using BlogManager.Models
@model EntryViewModel
@{
    ViewBag.Title = "New Entry";
}

<br />
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <section>
            @using (Html.BeginForm("Create", "Entry"))
            {
                <h4 class="text-center">Write something new</h4>
                <hr />
                <div class="form-group row">
                    @Html.LabelFor(m => m.Entry.Title, new { @class = "col-md-12 control-label entry-form-label" })
                    <div>
                        @Html.TextBoxFor(m => m.Entry.Title, new { @class = "form-control center-block entry-form-control" })
                        @Html.ValidationMessageFor(m => m.Entry.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.Entry.Description, new { @class = "col-md-12 control-label entry-form-label" })
                    <div>
                        @Html.TextAreaFor(m => m.Entry.Description, new { @class = "form-control center-block entry-form-control entry-desc-text-area" })
                        @Html.ValidationMessageFor(m => m.Entry.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.Entry.Content, new { @class = "col-md-12 control-label entry-form-label" })
                    <div>
                        @Html.TextAreaFor(m => m.Entry.Content, new { @class = "form-control center-block entry-form-control entry-content-text-area" })
                        @Html.ValidationMessageFor(m => m.Entry.Content, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.Entry.ImageUrl, new { @class = "col-md-12 control-label entry-form-label" })
                    <div>
                        @Html.TextBoxFor(m => m.Entry.ImageUrl, new { @class = "form-control center-block entry-form-control" })
                        @Html.ValidationMessageFor(m => m.Entry.ImageUrl, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.EntryCategories, new { @class = "col-md-12 control-label entry-form-label" })
                    <div>
                        @Html.DropDownListFor(m => m.Entry.EntryCategory.Id, new SelectList(Model.EntryCategories, "Id", "Name"), "Select...", new { @class = "form-control center-block entry-dropdown" })
                    </div>
                </div>
                <br />
                <hr />
                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" value="Save" class="btn btn-primary btn-bg" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}