@using BlogManager.Models
@model EntryPreviewViewModel
@{
    ViewBag.Title = "Entry Preview";
}

<br />
<h2>@ViewBag.Title.</h2>
<h4>Category: @Model.Entry.EntryCategory.Name</h4>
@if (@Model.Entry.IsVisible)
{
    <span class="label label-success custom-label">Visible</span>
}
else
{
    <span class="label label-danger custom-label">Hidden</span>
}

<div id="container">
    <main id="entry-main">
        <div id="content">
            <header>
                <h1>Nunc lobortis cursus laoreet</h1>
            </header>
            <p id="entry-data">@Model.Entry.CreateDate.ToShortDateString() | @Model.Entry.CreateDate.ToShortTimeString() | @Model.Entry.Account.UserName</p>
            <div class="entry-main-img">
                <img src="@Model.Entry.ImageUrl" alt="entry-main-img" />
            </div>
            <p>
                @Model.Entry.Content
            </p>
        </div>
    </main>
</div>